.root.root {
  height: 50px;
  border-radius: 25px;
}

.lockAvatar.lockAvatar {
  height: 50px;
  width: 50px;
  z-index: 5;
}

.groupAvatar.groupAvatar {
  height: 50px;
  width: 50px;
  background-color: #394eff;
  margin-left: -20px;
}

.counter {
  margin-left: 10px;
}
