.creationDate.creationDate {
  font-weight: 500;
}

.time {
  color: #8c8b8b;
}

.avatar.avatar {
  height: 50px;
  width: 50px;
}

.visibilityButtonWrapper.visibilityButtonWrapper {
  border-right: solid 2px #f6f6f6;
}

.visibilityButton.visibilityButton {
margin-left: 5px;
margin-right: 5px;
}
